<%= provide :title, 'User Admin' %>

<div class="container">
  <div class="row">
    <div class="col-md-9 col-centered">
      <h3>Users</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 col-centered">
      <div class="table-responsive dashboard-table">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
              <tr>
                <td><%= "#{user.first_name} #{user.last_name}" %></td>
                <td><%= user.email %></td>
                <td><%= link_to 'view', show_user_path(user) %> | <%= link_to 'edit', edit_user_form_path(user) %>
                  | <%= link_to 'delete', delete_user_path(user), data: {confirm: 'Are you sure?'} %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 col-centered">
      <p class="text-center">
        <%= link_to 'new user', new_user_form_path %>
      </p>
    </div>
  </div>
</div>
