<%= provide(:title, @location.name) %>

<div class="container">
  <div class="row">
    <div class="col-md-9 col-centered">
      <h1 class="text-center"><%= @location.name %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 qr">
      <%= raw @location.qrcode.as_html %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-centered">
      <h4 class="description"><%= @location.description %></h4>
    </div>
  </div>

  <% unless @location.events.empty? %>
      <div class="row">
        <div class="col-md-6 col-centered">
          <div class="table-responsive dashboard-table">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Event</th>
                <th>Start</th>
                <th>End</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% @location.events.each do |event| %>
                  <tr>
                    <td><%= event.title %></td>
                    <td><%= event.start_date.strftime("%b %e, %Y") %></td>
                    <td><%= event.end_date.strftime("%b %e, %Y") %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  <% end %>
</div>