<%= provide :title, 'Events Admin' %>

<div class="container">
  <div class="row">
    <div class="col-md-9 col-centered">
      <h3>Events</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 col-centered">
      <div class="table-responsive dashboard-table">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Event</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @events.each do |event| %>
              <tr>
                <td><%= event.title %></td>
                <td><%= event.start_date.strftime("%b %e, %Y") %></td>
                <td><%= event.end_date.strftime("%b %e, %Y") %></td>
                <td><%= link_to 'view', show_event_path(event) %> | <%= link_to 'edit', edit_event_form_path(event) %> | <%= link_to 'delete', delete_event_path(event), data: { confirm: 'Are you sure?'} %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 col-centered">
      <p class="text-center">
        <%= link_to 'New event', new_event_form_path, class: 'text-center btn btn-default' %>
      </p>
    </div>
  </div>
</div>
</div>
