<%= provide(:title, 'View Setup') %>

<div class="container">
  <div class="row">
    <div class="col-md-7 col-centered">
      <h3>Initial View Setup</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 col-centered">
      <%= form_for @options, url: update_options_path, method: :post do |f| %>
          <div class="form-group">
            <%= f.label :logo, 'Website Logo' %>
            <%= f.text_field :logo, class: 'form-control', required: 'true' %>
          </div>
          <div class="row">
            <div class="col-md-5">
            <p>Enter a theme color from Sass: </p> 
              <div class="form-group">
                <%= f.label :color, 'Website Color' %>
                <%= f.text_field :color, class: 'form-control', required: 'true' %>
              </div>
            </div>
            <%= f.submit 'Initialize', class: 'btn btn-default'%>  
          </div>
      <% end %>
    </div>
  </div>
</div>